.info-box{
    display: block;
    min-height: 103px;
    background: #353535;
    width: 100%;
    box-shadow: 3px 3px 4px rgb(199, 199, 199);
    border-radius: 24px;
    margin-bottom: 15px;
    border: 2px solid #333333;
    color: #c7c7c7;
    font-size: 80%;
    overflow: hidden;
    box-shadow: inset 3px 3px 10px #848484;}
.wrapper .main-sidebar{
    border-right: 2px solid #5b5b5b;
    box-shadow: inset 6px 10px 18px rgba(221, 221, 221, 0.21);
    background-color: #061720;}
.info-box-icon{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 100px;
    width: 93px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);}
span.info-box-icon img {
    height: 48%;
    width: auto;
    margin: auto;
}
.statusWrapper{
    background: #3e3e3e;
    padding-top: 15px;
    border: 2px solid #777;
    margin-left: -19px;
    box-shadow: inset 1px 1px 5px #000;
    margin-bottom: -18px;
}
.skin-blue .main-header .navbar {
    box-shadow: inset -2px 6px 3px rgb(73, 73, 73);
    background-color: #151d22;
    border-bottom: 2px solid #0f7792;
}
.skin-blue .main-header .logo {
    background-color: #374248;
    color: #fff;
    height: 101%;
    border-bottom: 2px solid #0f7792;
    margin-bottom: -2px;
}
span.info-box-icon {
    padding: 0;
    line-height: 80px;
    vertical-align: middle;
    box-shadow: inset 3px 3px 10px rgba(212, 212, 212, 0.35);
}

span.logo-lg {
    font-size: 15px;
    font-weight: bold;
}

.skin-blue .sidebar-menu>li:hover>div, .skin-blue .sidebar-menu>li.active>div {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu>li>div {
    border-left: 3px solid transparent;
}

.sidebar-menu>li>div>.fa, .sidebar-menu>li>div>.glyphicon, .sidebar-menu>li>div>.ion {
    width: 20px;
}

.sidebar-menu li>div {
    position: relative;
}
.sidebar-menu>li>div {
    padding: 12px 5px 12px 15px;
    display: block;
}

span.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    padding: 3px 2px;
}

.bootstrap-timepicker-widget table td input {
    padding: 0;
}

div#location-selector-google-map {
    width: 100%;
    height: 325px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear-custom {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
}

.infobox.col-md-3 {
    width: 33.3%;
}

span.info-box-text {
    font-weight: bold;
}

span.info-box-number {
    font-weight: normal;
}

span.info-box-number.weather {
    font-size: 12px;
    margin-top: 5px;
}

span.info-box-number.crisis {
    font-size: 30px;
    font-weight: lighter;
}

span.info-box-number.psi {
    font-size: 14px;
}

span.info-box-number.psi span {
    width: 50%;
    float: left;
    font-weight: lighter;
}

span.info-box-number.psi span div{
    display: inline;
    padding-left: 6px;
    font-weight: normal;
}

.login-box, .register-box {
    margin: auto;
    padding-top: 10%;
    padding-bottom: 20%;
}

.login-logo p {
    font-size: 24px;
}

div#map-container {
    width: 100%;
}

div#map-label-container {
    width: 100%;
}

div#map-label {
    border-bottom-left-radius: 3px;
    min-height: 60px;
    padding: 0;
}

div#map-label div.map-label{
    width: 20%;
    height: 60px;
    padding: 10px;
    float: left;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    text-align: center;
    position: relative;
}

div#map-label div.map-label-number{
    width: 18px;
    height: 15px;
    position: absolute;
    top: 10px;
    left: 21px;
    font-size: 11px;
    font-weight: bold;
    color: black;
    text-align: center;
}

div#map-label div.map-label.active {
    background: rgba(255, 255, 255, 0.5);
}

div#map-label div.map-label img{
    float: left;
}

div#map-label div.map-label span{
    float: left;
    width: 100%;
}

div#map-label div.map-label#map-label-fire span, div#map-label div.map-label#map-label-accident span,
div#map-label div.map-label#map-label-riot span, div#map-label div.map-label#map-label-gas span,
div#map-label div.map-label#map-label-all span {
    line-height: 2.8;
}

table#syslog td:first-child{
    width: 160px;
}

table#syslog th.empty {
    display: none;
}

table#syslog.empty th.empty {
    display: block;
}

/* Map details modal */
div.map-detail-modal span.event-title{
    font-weight: bold;
    font-size: 15px;
    min-width: 130px;
    display: block;
    float: left;
}

div.map-detail-modal span.event-content {
    font-size: 16px;
    display: block;
    float: left;
}

div.map-detail-modal div.event-detail {
    min-height: 34px;
}

div.map-detail-modal.modal-teal {
    color: white;
}

div.map-detail-modal.modal-teal div.modal-header, div.map-detail-modal.modal-teal div.modal-footer {
    background: #30bbbb;
}

div.map-detail-modal.modal-teal div.modal-header {
    border-bottom-color: rgb(31, 125, 125);
}

div.map-detail-modal.modal-teal div.modal-footer {
    border-top-color: rgb(31, 125, 125);
}

div.map-detail-modal.modal-teal div.modal-body {
    background: #39cccc;
}

div.map-detail-modal .non-clickable {
    cursor: default;
}

div.map-detail-modal div.event-dispatch span.event-title{
    float: none;
}

div.map-detail-modal div.event-update span.event-title{
    float: none;
}

/* To do list modal */
/* To do list item - incident */
div.to-do-list-incident span.event-title{
    font-weight: bold;
    font-size: 15px;
    min-width: 130px;
    display: block;
    float: left;
}

div.to-do-list-incident span.event-content {
    font-size: 16px;
    display: block;
    float: left;
}

div.to-do-list-incident div.event-detail {
    min-height: 34px;
}

div.to-do-list-incident .non-clickable {
    cursor: default;
}

div.to-do-list-incident #archive-incident-confirm {
    display: none;
}

div.to-do-list-incident #archive-incident-cancel {
    display: none;
}

div.to-do-list-incident #approve-incident-confirm {
    display: none;
}

div.to-do-list-incident #approve-incident-cancel {
    display: none;
}

div.to-do-list-incident #reject-incident-confirm {
    display: none;
}

div.to-do-list-incident #reject-incident-cancel {
    display: none;
}


/* To do list item - dispatch */
div.to-do-list-dispatch span.event-title{
    font-weight: bold;
    font-size: 15px;
    min-width: 130px;
    display: block;
    float: left;
}

div.to-do-list-dispatch span.event-content {
    font-size: 16px;
    display: block;
    float: left;
}

div.to-do-list-dispatch div.event-detail {
    min-height: 34px;
}

div.to-do-list-dispatch .non-clickable {
    cursor: default;
}

div.to-do-list-dispatch h3{
    margin-top: 10px;
    margin-bottom: 0;
}

div.to-do-list-dispatch hr {
    margin-top: 5px;
}


/* To do list item - update */
div.to-do-list-update span.event-title{
    font-weight: bold;
    font-size: 15px;
    min-width: 130px;
    display: block;
    float: left;
}

div.to-do-list-update span.event-content {
    font-size: 16px;
    display: block;
    float: left;
}

div.to-do-list-update div.event-detail {
    min-height: 34px;
}

div.to-do-list-update .non-clickable {
    cursor: default;
}

div.to-do-list-update h3{
    margin-top: 10px;
    margin-bottom: 0;
}

div.to-do-list-update hr {
    margin-top: 5px;
}

div.to-do-list-update div.event-photo img {
    max-width: 400px;
    height: auto;
}

/* Timeline items */
div.timeline-item h3.timeline-header {
    font-weight: bold;
}

div.timeline-item p.timeline-item-detail{
    clear: both;
    font-weight: bold;
}

div.timeline-item div.timeline-item-photo{
    margin-top: 10px;
    margin-bottom: 15px;
}

div.timeline-item div.timeline-item-photo img {
    max-width: 500px;
    height: auto;
}

div.timeline-item p.timeline-item-updated-severity-title {
    float: left;
    line-height: 1.8;
}

div.timeline-item div.timeline-item-updated-severity {
    float: left;
    margin-left: 15px;
}

div.timeline-item p.timeline-item-severity-title {
    float: left;
    line-height: 1.8;
}

div.timeline-item div.timeline-item-severity {
    float: left;
    margin-left: 15px;
}

div.timeline-item p.timeline-item-type-title {
    float: left;
}

div.timeline-item p.timeline-item-type {
    float: left;
    margin-left: 15px;
}

div.timeline-item p.timeline-item-location-title {
    float: left;
}

div.timeline-item p.timeline-item-location {
    float: left;
    margin-left: 15px;
}
.non-clickable {
    cursor: default;
}

.skin-blue .sidebar-menu>li>div {
    border-left: 3px solid transparent;
    box-shadow: inset 3px 3px 4px rgba(80, 96, 123, 0.27);
    margin-left: 0px;
    border-left-color: #3e3e3e !important;
    border: none;
}
.skin-blue .sidebar-menu>li.header {
    color: #ffffff;
    background: #181a1d;
    text-align: center;
    box-shadow: inset 3px 3px 5px rgb(44, 44, 44);
    border-bottom: 5px solid #212121;
    padding-top: 15px;
    text-align: left;
    font-size: 73%;
    color: #5e6375;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #1e282c;
    box-shadow: inset 2px 0px 9px #0f0f0f;
    padding: 14px;
}
.info-box-content {
    padding: 8px 29px;
    margin-left: 90px;
}
.timeline {
    position: relative;
    margin: -10px -20px;
    padding: 30px;
    list-style: none;
    background: #3e3e3e;
    border: 2px solid #777;
    box-shadow: inset 3px 3px 26px #000;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #4f4f4f;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}
.latestCrisisHeader{
    margin-bottom: 23px;
    margin-top: 17px;
    color: #595959;
    font-family: 'Source Sans Pro',sans-serif;
    margin-left: 24px;
    font-size: 141%;}
.latestCrisisBubbleIconWrapper{
    display: inline-block;
    padding: 4px;
    background: #d06a6a;
    margin-left: 11px;
    height: 38px;
    width: 38px;
    margin-bottom: -48px;
    border-radius: 20px;}
.latestCrisisBubbleIconWrapper img {
    width: 23px;
    margin-top: 5px;
    margin-left: 3px;
    position: absolute;
}
.unexpandedTimelineItem{
    padding-top: 3px;
    height: 45px;
    overflow: hidden;}