
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
          #map {
    height: 400px;
    width: 905px;
    display: inline-block;
    border: 3px solid #3d90c5;
    margin-top: 10px;
          }
            .mapWrapper{
    margin-top: 1%;
    width: 103%;
    text-align: center;
    margin-left: -1.5%;
    padding: 18px;
    background: #2f2f2f;
    border: 2px solid #000;
    border-radius: 7px;
    box-shadow: inset 3px 3px 3px #545454;
    position: relative;
            }
          .innerMapWrapper{
    padding: 14px 10px 0;
    background: #3e3e3e;
    border: 2px solid #444;
    box-shadow: 0 0 9px #252525;}
          .verticalOptionsWrapper{
    display: inline-block;
    vertical-align: top;
    background: #303030;
    box-shadow: 1px 1px 5px #151515, inset 3px 3px 3px #4c4c4c;
    border: 2px solid #333;
    border-radius: 7px;
    padding: 12px 12px;
          }
            .verticalOptions{
    background: #444444;
    border: 1px solid #505050;
    border-radius: 5px;
    box-shadow: inset 0px 0px 14px #1b1b1b;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
            }
            .verticalOptions select{
    display: block;
    vertical-align: top;
    width: 200px;
    padding: 3px;
    margin-top: 10px;
    background: #424242;
    color: #fff;
    border: 3px solid #383838;
    padding: 5px 3px;
    box-shadow: 2px 2px 5px #3a3a3a;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
            }
.verticalOptions select:hover {
    background: #4185b1;
}
            .btnPanel{
    box-sizing: border-box;
    width: 905px;
    display: inline-block;
    margin-right: 306px;
    text-align: left;
    padding: 17px 13px 9px;
    margin-left: 19px;
    vertical-align: top;
    border-radius: 5px;
    margin-top: -67px;
            }
            .btnPanel .btn{
    display: inline-block;
    padding: 4px 19px;
    background: #2f7eaf;
    border: 2px solid #366e92;
    cursor: pointer;
    color: #daecf7;
    border-radius: 2px;
    box-shadow: inset 2px 2px 4px rgb(55, 138, 214), 1px 1px 2px #464646;
    font-weight: 600;
    font-size: 110%;
    letter-spacing: 1px;
    transition: all 0.25s ease;
            }
           .btnPanel .btn.active{
    background: #48d076;
    border: 2px solid #369266;
    box-shadow: inset 2px 2px 4px rgb(126, 214, 168), 1px 1px 2px #3873c3;
    color: #daf7ed;}
.btnPanel .btn.active:hover {
    background: #44e079;
    border: 2px solid #369266;
    box-shadow: inset 2px 2px 4px rgb(126, 214, 168), 1px 1px 2px #3873c3;
    color: #daf7ed;
}
          .btnPanel #saveMapBtn{
    background: #dca327;
    border: 2px solid #ab8726;
    box-shadow: inset 2px 2px 4px rgb(220, 180, 36), 1px 1px 2px #515151;
    float: right;
    color: #f5f0e5;
    font-size: 78%;
    padding: 8px 32px;
    margin-top: 2px;}
.btnPanel .btn:hover {
    background: #2d95d6;
    border: 2px solid #2972a0;
    box-shadow: inset 2px 2px 4px rgb(93, 168, 236), 1px 1px 2px #3873c3;
}
          .areaList{
              list-style: none;
    padding: 0;
    height: 328px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 89%;
          }
          .areaList li{
    background: #ddd;
    padding: 11px 18px;
    width: 200px;
    border: 2px solid #ccc;
    border-width: 2px !important;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 9px;
    font-family: 'Merriweather', serif;
    box-shadow: inset 3px 3px 4px rgba(255, 255, 255, 0.5), inset 2px 20px 4px rgba(255, 255, 255, 0.27);
          }
          
        .areaList li .icon{
    width: 25px;
    margin-right: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1px;
    margin-top: -4px;
          }
          .areaList li .closeIcon{
    color: #555;
    float: right;}
        .areaList li.zombie {
    background: #cea22a;
    color: #866323;
    font-weight: 600;
    border: 1px solid #b79a32;
    transition: all 0.1s ease;
        }
        .areaList li.zombie:hover{
    background: #b58d20;
          }
        .areaList li.zombie.active{
    font-size: 105%;
    background: #ad8313;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #b79a32;
          }
        .areaList li.thunderstorm {
    background: #2dc4dc;
    color: #0f6e9b;
    font-weight: 600;
    border: 1px solid #0d6f85;
        }
        .areaList li.thunderstorm:hover{
    background: #10b1cb;
          }
        .areaList li.thunderstorm.active{
    font-size: 105%;
    background: #1499ae;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #076377;
          }
        .areaList li.fire {
    background: #c54e4e;
    color: #8e0707;
    font-weight: 600;
    border: 1px solid #882424;
        }
        .areaList li.fire:hover{
    background: #bf4545;
          }
        .areaList li.fire.active{
    font-size: 105%;
    background: #942424;
    color: #fff8f8;
    font-weight: 600;
    border: 1px solid #7e1c1c;
          }
        .areaList li.terminator {
    background: #8a8a8a;
    color: #3e3e3e;
    font-weight: 600;
    border: 1px solid #666666;
        }
        .areaList li.terminator:hover{
    background: #797979;
          }
        .areaList li.terminator.active{
    font-size: 105%;
    background: #555555;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #616161;
    box-shadow: inset 3px 3px 4px rgba(255, 255, 255, 0.5), inset 2px 20px 4px rgba(161, 161, 161, 0.27);
          }
        .areaList li.safehouse {
    color: #1b5f28;
    border: 1px solid #3baa76;
    background: #1ed65d;
    font-weight: 600;
        }
        .areaList li.safehouse:hover{
    background: #18b54e;
          }
        .areaList li.safehouse.active{
    font-size: 105%;
    background: #13943f;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #34a36f;
          }
          .modifyAreaForm{
    position: absolute;
    top: 0;
    text-align: left;
    width: 238px;
    padding: 10px 35px 10px 25px;
    background: #eef4fa;
    border: 1px solid #cfe0e7;
    left: 1168px;}
.modifyAreaForm .label{
    font-size: 90%;
    font-weight: 600;
    display: block;
    margin-top: 9px;
    margin-bottom: 3px;
    color: #556a72;
}
.modifyAreaForm textarea,.modifyAreaForm input[type=text] {
              width: 100%;
              padding: 3px;
              border: 1px solid #ccc;
}
.modifyAreaForm textarea{
              height: 75px;
              margin-bottom: 10px;
          }
          .modifyAreaForm .closeIcon{
              cursor: pointer;
    position: absolute;
    right: 15px;
    font-size: 85%;
    color: #777;
    margin-top: 5px;
    margin-right: 7px;}
          .typeLabel{
    color: #fff;
    font-weight: 600;
    margin-bottom: -8px;
    display: block;
          }
          .typeWrapper{
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 13px;
    padding: 10px 20px 16px;
    background: #424040;
    border-bottom: 2px solid #383838;
    box-shadow: inset 0px 3px 7px #1f1f1f;}
          
          .loadList{
    position: absolute;
    list-style: none;padding: 0;
    margin-left: 50px;
    
          }
.loadList li {
    padding: 7px 15px;
    background: #ddd;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

.loadList li:active {
    background: #ccc;
}
          .mapInfoPopup{
    position: absolute;
    display: inline-block;
    display: none;
    width: 200px;
    top: 8%;
    left: 764px;
    background: #56d090;
    border: 2px solid #39b976;
    padding: 4px;
    height: 100px;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 3px rgba(249, 249, 249, 0.47);}
          .mapInfoPopup .mapInfoPopupInnerWrapper{
    width: 100%;
    background: #53ca8c;
    border: 1px solid #99deb0;
    height: 100%;
          }
          .mapInfoPopup .crisisLabel{
    font-size: 130%;
    line-height: 100%;
    width: 100%;
    margin-bottom: 9px;
    color: #fff;
    margin-top: 9px;}
          .mapInfoPopup .crisisType{
    font-size: 75%;
    color: #d6f717;
    font-weight: 600;
    height: 16px;
    display: block;}
.mapInfoPopup .mapInfoPopupInnerWrapper .crisisName {
    text-align: center;
    font-size: 90%;
    display: inline-block;
    height: 19px;
}
          .mapInfoPopup .infoBtn{
    background: #e2c020;
    font-size: 75%;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    margin-left: 7px;
    border: 2px solid #c7ad31;
    margin-top: -2px;
    height: 23px;
    cursor: pointer;}
          .crisisInfoForm{
    position: fixed;
    top: 9%;
    left: 40%;
    background: #e2be5b;
    padding: 25px;
    width: 500px;
    color: #fff;
    display: none;
    z-index: 1000;
          }
          .crisisInfoForm h1{
    font-size: 144%;
    margin-top: 0;
    padding: 20px;
    background: #cca53a;
    margin: 0;
    margin-bottom: 18px;
    border: 2px dashed #957a2f;}
          .crisisInfoForm .formLabel{
    display: block;
    font-weight: 600;
    margin: 10px 0;
    background: #c29f3f;
    padding: 3px 13px;
          }
          .crisisInfoForm input, .crisisInfoForm select, .crisisInfoForm textarea{
    background: #fff;
    border: 3px solid #ffa7a7;
    width: 100%;
    line-height: 25px;
    color: #333;
    padding: 3px;
    box-sizing: border-box;
          }
          .crisisInfoForm textarea{
              height: 75px;
          }
          .crisisInfoForm select{
    color: #d68e8b;
    width: 20%;
    text-align: center !important;
    padding-left: 28px;
    cursor: pointer;
          }
          .crisisInfoForm #hideFormBtn{
    cursor: pointer;
    background: #9d7f2e;
    display: inline-block;
    padding: 5px 33px;
    border: 1px solid #806722;}
          .crisisInfoForm .infoWrapper {
    display: block;
    margin: 15px;
}
          .crisisInfoForm .severityBar .radio .innerRadio {
    border-radius: 20px;
    width: 5px;
    height: 6px;
    display: inline-block;
    background: #dddddd;
    vertical-align: middle;
    margin-top: -10px;
    margin-left: 3px;
}
          .crisisReportForm {
    position: fixed;
    top: 9%;
    left: 40%;
    background: #e25b5b;
    padding: 25px;
    width: 500px;
    color: #fff;
    display: none;
    z-index: 1000;
          }
          .crisisReportForm .formLabel{
              display: block;
              font-weight: 600;
              margin: 10px 0;
          }
          .crisisReportForm input, .crisisReportForm select, .crisisReportForm textarea{
    background: #fff;
    border: 3px solid #ffa7a7;
    width: 100%;
    line-height: 25px;
    color: #333;
    padding: 3px;
    box-sizing: border-box;
          }
          .crisisReportForm textarea{
              height: 75px;
          }
          .crisisReportForm select{
    color: #d68e8b;
    width: 20%;
    text-align: center !important;
    padding-left: 28px;
    cursor: pointer;
          }
          .crisisReportForm #submitFormBtn{
    cursor: pointer;
    background: #a54a4a;
    display: inline-block;
    padding: 5px 33px;
    border: 1px solid #ff7373;}
          .crisisReportForm h1{
    font-size: 144%;
    margin-top: 0;
    padding: 20px;
    background: #ce5656;
    margin: -16px;
    margin-bottom: 12px;}
          .content-wrapper{
    width: 1291px !important;}
          .severityBarWrapper{
    width: 59%;
    display: inline-block;
          }
          .severityBar{
    padding: 0;}
          .severityBar li.active{
    padding: 0;}
          
          .mapInfoPopup .severityLabel{
    font-size: 90%;
    color: #fff;}
          .severityBar .radio{
    background: #fff;
    border-radius: 20px;
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 2.5px solid #ddd;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 3px;
          }
          
          .severityBar .radio.active{
    border: 2.5px solid #7bdfa6;
          }
.severityBar .radio .innerRadio{
    border-radius: 20px;
    width: 6px;
    height: 6px;
    display: inline-block;
    background: #dddddd;
    vertical-align: middle;
    margin-top: -9px;
}
.severityBar .radio.active .innerRadio {
    background: #7bdfa6;
}
          
          .kdm{
              
          }
          .kdm .verticalOptionsWrapper{
    width: 23.667%;
    margin-right: 1%;
    padding: 8px 10px;
    background: none;
    border: none;
    box-shadow: none;
    margin-left: -2%;}
          .kdm .verticalOptions{
    width: 100%;}
          .kdm .to-do-list-dispatch{
    position: fixed;
    top: 1%;
    left: 37%;
    z-index: 1000;
    display: none;
          }
          .kdm .mapInfoPopup{
    top: 9%;
    left: 80.5%;
          }
          .kdm .mapDispatchInfoPopup{
    position: absolute;
    background: #5793de;
    border: 2px solid #3f7fd0;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 3px rgba(249, 249, 249, 0.47);
    display: block;
    font-size: 100%;
    width: 139px;
    height: 35px;
    margin-left: 0px;
    top: 29.5%;
    left: 85%;
    cursor: pointer;
    display: none;
          }
          .kdm .mapDispatchInfoPopup .mapDispatchInfoPopupInnerWrapper{
    width: 100%;
    background: #528dd6;
    border: 1px solid #73a2dd;
    height: 100%;
    color: #fff;
    font-size: 96%;
    line-height: 148%;
}
          
          .kdm .createMapDispatchInfoPopup{
    top: 9%;
    left: 80.5%;
          }
          .kdm .createMapDispatchInfoPopup{
    position: absolute;
    background: #44caec;
    border: 2px solid #3fabd0;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 3px rgba(249, 249, 249, 0.47);
    display: block;
    font-size: 100%;
    width: 139px;
    height: 35px;
    margin-left: 0px;
    top: 29.5%;
    left: 85%;
    cursor: pointer;
    display: none;
          }
          .kdm .createMapDispatchInfoPopup .mapDispatchInfoPopupInnerWrapper{
    width: 100%;
    background: #3abdde;
    border: 1px solid #56cbe8;
    height: 100%;
    color: #fff;
    font-size: 96%;
    line-height: 148%;
}
          .kdm .dispatchInfoForm{
    position: fixed;
    top: 9%;
    left: 40%;
    background-color: #3c8dbc !important;
    padding: 25px;
    width: 500px;
    color: #fff;
    z-index: 1000;
    display: none;}
          .kdm .dispatchInfoForm h1{
    font-size: 144%;
    margin-top: 0;
    padding: 20px;
    background: #307ba7;
    margin: 0;
    margin-bottom: 18px;
    border: 2px dashed #205d80;}
           .kdm .dispatchInfoForm .formLabel {
    display: block;
    font-weight: 600;
    margin: 10px 0;
    background: #2f749c;
    padding: 3px 13px;
}
          .kdm .dispatchInfoForm .infoWrapper {
    display: block;
    margin: 15px;
}
          .kdm .dispatchInfoForm #hideDispatchFormBtn {
    cursor: pointer;
    background: #2e7aa7;
    display: inline-block;
    padding: 5px 33px;
    border: 1px solid #256890;
}
          .kdm .to-do-list-dispatch .severityBar .radio .innerRadio{
    margin-top: -15px;}
          .kdm .to-do-list-dispatch select{
    color: #4d4d4d;
    padding: 3px 5px;
    width: 200px;
    font-size: 95%;
          }
          .kdm .to-do-list-dispatch input{
    position: relative;
    width: 200px;
    vertical-align: top;
    display: block;
    color: #000;
          }