
<script src="scripts/map/kdm_map.js" async defer></script>  
<script src="scripts/map/generic_map.js" async defer></script>  
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCanXJuqR9G83t3TPpOBySHq-4gx2_7DUA&callback=initMap&libraries=places" async defer></script>
    
<div class="mapWrapper">
            <div class="innerMapWrapper">
                
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div class="verticalOptionsWrapper">
        <div class="verticalOptions">
            <div class="typeWrapper" style="    margin-bottom: -11px;">
             <span class="typeLabel">Type</span>
            <select class="mapType">
                <option value="getApprovedCrisis/">Crisis map</option>
                <option value="getUnapprovedCrisis/">Reporting map</option>
                <option value="getPublicApprovedCrisis/">Public map</option>
            </select></div>
        </div>
                <div class="todoListBox"><div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Pending Events</h3>
                    <ul class="items toDoItems">
                        <li><span class="handle-disabled">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span><span>&lt;Zombie at NTU>: Dispatch</span>
                            <small class="label label label-primary ng-scope"><i class="fa fa-clock-o"></i> <span am-time-ago="todo.time"></span></small>
                        </li>
                    </ul>
                </div></div></div>
            <div id="map"></div>
                <div class="archiveCrisisBtn mapInfoPopupTypes">Archive</div>
                <div class="createMapDispatchInfoPopup mapInfoPopupTypes">
                    <div class="mapDispatchInfoPopupInnerWrapper">
                    <div class="crisisLabel">Create dispatch</span></div>
                        </div>
                </div>
                <div class="mapDispatchInfoPopup mapInfoPopupTypes">
                    <div class="mapDispatchInfoPopupInnerWrapper">
                    <div class="crisisLabel">Dispatch status</span></div>
                        </div>
                </div>
                <div class="mapApproveInfoPopup mapInfoPopupTypes">
                    <div class="mapApprovePopupInnerWrapper">
                    <div class="crisisLabel">Approval</span></div>
                        </div>
                </div>
                <div class="mapInfoPopup mapInfoPopupTypes">
                    <div class="mapInfoPopupInnerWrapper">
                    <div class="crisisLabel"><span class="crisisName">Thunderstorm at NTU</span><span class="infoBtn">?</span><br><span class="crisisType"></span></div>
                        
                    <div class="severityLabel">Severity: 
                        <div class="severityBarWrapper">
           <span class="radio"><span class="innerRadio"></span></span>
           <span class="radio"><span class="innerRadio"></span></span>
           <span class="radio"><span class="innerRadio"></span></span>
           <span class="radio"><span class="innerRadio"></span></span>
           <span class="radio"><span class="innerRadio"></span></span></div>
                    </div>
                        </div>
                </div>
</div>
    <div class="ng-scope"><div class="modal-dialog modal-primary to-do-list-dispatch ng-scope">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title ng-binding">Dispatching resources for crisis</h4>
        </div>
        <div class="modal-body">
            <h3>Crisis Event</h3>
            <hr>
            <div class="event-detail event-type">
                <span class="event-title">Event Type:</span>
                <span class="event-content ng-binding disasterType"></span>
            </div>
            <div class="event-detail event-time">
                <span class="event-title">Time:</span>
                <span class="event-content ng-binding time"></span>
            </div>
            <div class="event-detail event-location">
                <span class="event-title">Location:</span>
                <span class="event-content ng-binding location"></span>
            </div>
            <div class="event-detail event-severity">
                <span class="event-title">Severity:</span>
                <span class="event-content severity">
                </span>
            </div>
            <div class="event-detail event-description">
                <span class="event-title">Description: </span>
                <span class="event-content ng-binding description"></span>
            </div>

            <h3>Dispatch</h3>
            <hr>
            <div class="event-detail event-agency">
                <span class="event-title">Agency:</span>
                <span class="event-content"><select class="agency"><option value="Police force">Police force</option><option value="Fire department">Fire department</option><option value="Military">Military</option></select></span>
            </div>
            <div class="event-detail event-resource">
                <span class="event-title">Resources:</span>
                <span class="event-content"><select class="resource"><option value="A few police cars">A few police cars</option><option value="SWAT team">SWAT team</option></select></span>
            </div>
            <div class="event-detail event-time">
                <span class="event-title">Time:</span>
                <span class="dispatchTime" style="
    display: block;
    text-align: left;"></span>
            </div>
            <div class="event-detail event-contact">
                <span class="event-title">Contact:</span>
                <input type="text" class="contact">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" ng-click="cancel()">Close</button>

            <button type="button" id="approve-dispatch-cancel" class="btn btn-outline">Cancel</button>
            <button type="button" id="approve-dispatch" class="btn btn-outline"><span>Dispatch</span></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog --></div>
</div>

    <div ng-include="'view2/maps/crisis_info_form.html'"></div>

<div class="dispatchInfoForm">
    <h1>Dispatch status</h1>
    <span class="formLabel">Location:</span>
    <span class="infoWrapper location">Nanyang Technological University</span>
    <span class="formLabel">Agency:</span>
    <span class="infoWrapper agency">Police force</span>
    <span class="formLabel">Resource:</span>
    <span class="infoWrapper resource">A few police cars</span>
    <span class="formLabel">Time:</span>
    <span class="infoWrapper time"></span>
    <span class="formLabel">Contact:</span>
    <span class="infoWrapper contact">+65 97321432 (Mr James, Police Officer)</span><br>
    <div style="text-align: center;margin-top: 10px;"><span id="hideDispatchFormBtn" >Close</span></div></div>

<div class="crisisApprovalForm">
    <h1><span class="disaster"></span> crisis approval</h1>
    <span class="formLabel">Location:</span>
    <span class="location"></span>
    <span class="formLabel">Name:</span>
    <span class="name"></span>
    <span class="formLabel">Time:</span>
    <span class="time"></span>
    <span class="formLabel">Severity:</span>
    <span class="severity"></span>
    <span class="formLabel">Description:</span>
    <span class="description"></span><br>
    <div style="text-align: center;margin-top: 10px;"><span id="cancelApproveCrisisFormBtn" >Cancel</span><span id="approveCrisisFormBtn" >Approve</span></div>
    
</div>