<span class="time"><i class="fa fa-clock-o"></i> {{item.displayTime}}</span>

<h3 class="timeline-header">New crisis event</h3>

<div class="timeline-body">
    <p>A new crisis event: <b>{{item.name}}</b> was reported at <b>{{item.location}}</b>.
    </p>

    <p class="timeline-item-detail timeline-item-type-title">Type:</p>
    <p class="timeline-item-detail-content timeline-item-type">{{item.displayType}}</p>
    <p class="timeline-item-detail timeline-item-location-title">Location:</p>
    <p class="timeline-item-detail-content timeline-item-location">{{item.location}}</p>
    <p class="timeline-item-detail timeline-item-severity-title">Severity:
        <div class="timeline-item-detail timeline-item-severity">
            <input type="radio" name="{{'incident' + item.id + 'sev1'}}" class="flat-red" ng-checked="item.severity >= 1" disabled>
            <input type="radio" name="{{'incident' + item.id + 'sev2'}}" class="flat-red" ng-checked="item.severity >= 2" disabled>
            <input type="radio" name="{{'incident' + item.id + 'sev3'}}" class="flat-red" ng-checked="item.severity >= 3" disabled>
            <input type="radio" name="{{'incident' + item.id + 'sev4'}}" class="flat-red" ng-checked="item.severity >= 4" disabled>
            <input type="radio" name="{{'incident' + item.id + 'sev5'}}" class="flat-red" ng-checked="item.severity >= 5" disabled>
        </div>
    </p>
    <div style="clear: both;"></div>
    <p ng-show="item.description" class="timeline-item-detail">Details:</p>

    <p ng-show="item.description" class="timeline-item-detail-content">{{item.description}}</p>
    <div style="clear: both;"></div>
    <div style="padding-left: 60em;" ng-controller="timelineCtrl">
                <a class="myButton1" ng-click="showAdvancedFb($event)">Post on Facebook</a>
                <a class="myButton" ng-click="showAdvancedTwitter($event)">Post on Twitter</a>
    </div>
</div>
<div class="timeline-footer"></div>